@model Spice.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*@if (Model.Coupons.ToList().Count > 0)
{
    <div class="border">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.Coupons.Count(); i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupons.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img src="@imgsrc" height="50px" class="d-block w-100" />
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupons.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img src="@imgsrc" height="50px" class="d-block w-100" />
                    </div>
                }
            }
        </div>
    </div>
}*@

<br /> <br />
<div class="backgroundWhite container">

    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <li class="filter active btn btn-primary ml-1 mr-1" data-filter=".menu-restaurant">Show All</li>

        @foreach (var item in Model.Categories)
        {
            <li class="ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
        }
    </ul>

    @foreach (var category in Model.Categories)
    {
        @*<div class="row" id="menu-wrapper">
            </div>*@
        
        <div class="album bg-light row" id="menu-wrapper">
          
            <div class="container">
              <partial name="~/Views/Shared/MainPage/_ThumbnailAreaPartial.cshtml" model="Model.MenuItems.Where(x =>x.Category.Name == category.Name)" />
            </div>
        </div>
    }

</div>

@section Scripts{

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script>
        //retrieve post from where we will be toggling
        var posts = $('.post');
        (function ($) {
        $("#menu-filters li").click(function () {
            $("#menu-filters li").removeClass('active btn btn-primary');
            $(this).addClass('active btn btn-primary');

            var selectedFilter = $(this).data("filter");

            $(".menu-restaurant").fadeOut();

            setTimeout(function () {
                $(selectedFilter).slideDown();
            }, 300);
        });
        })(jQuery);
    </script>
}